html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.tr-selected {
    background-color: #cdcdcd;
}

.green-border{
    border: green 1px solid;
}
.red-border{
    border: red 1px solid;
}